#chat_pop_up_element{
    width: 700px;
    height: 600px;
}

.chat_icon{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

#chat_list{
    max-width: 250px;
    height: 100%;
    border-right: 1px solid #c0c0c0;
}

.chat_header{
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
    cursor: default;
}

#chat_svg{
    fill: #d68f55;
    width: 100%;
    height: 100%;
}

  
#bell_svg:hover{
    fill: #55ced6;
}
