
.app_container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.main_content {
    flex: 1 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer_container {
    flex-shrink: 0;
    width: 100%;
    background-color: #333;
    margin-top: auto;
}
