{% extends "admin/change_form.html" %}

{% block after_field_sets %}
  {{ block.super }}
  {# Этот блок можно использовать для добавления дополнительных разделов после стандартных fieldsets, если нужно #}
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  <style>
    .archive-buttons {
        margin-top: 10px;
    }

    .archive-buttons a.button {
        display: inline-block;
        padding: 8px 15px;
        background: #417690;
        color: white;
        text-decoration: none;
        border-radius: 4px;
        margin-right: 10px;
    }

    .archive-buttons a.button.disabled {
        background: #999;
        cursor: not-allowed;
        pointer-events: none;
    }
  </style>
{% endblock %}
